{% extends 'admin/base.html.twig' %}

{% block body %}
<main class="mx-auto mt-16 grow p-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aut beatae est explicabo repudiandae, sit vitae? Animi consequuntur eius excepturi facere fuga, fugit, iste laudantium nulla odio quas sit veritatis?</p>
</main>
{% endblock %}
