{% extends 'public/base.html.twig' %}

{% block meta_title %}Error 404{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block body %}
    <main class="grow flex justify-center px-4 py-16">
        <div class="self-center flex flex-col w-full">
            <h1 class="text-white text-5xl self-center font-extrabold">Erreur 404</h1>
            <h2 class="text-white text-3xl self-center font-semibold text-center mt-8">Vous êtes arrivé dans une région mystérieuse qui ne correspond à aucune carte du jeu.</h2>

            <svg class="animate self-center w-full max-w-lg mt-16" viewBox="0 0 351 251" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M22.0071 10.2549H328.007C334.634 10.2549 340.007 15.6275 340.007 22.2549V228.255C340.007 234.882 334.634 240.255 328.007 240.255H22.0071C15.3797 240.255 10.0071 234.882 10.0071 228.255V22.2549C10.0071 15.6275 15.3797 10.2549 22.0071 10.2549Z" fill="#FF4654" stroke="white" stroke-width="20"/>
                <path class="ani-bounce-1" d="M224.346 107.143H217.626V118.759H201.594V107.143H179.802L178.17 95.7188L197.85 59.1428H217.626V94.1828H225.018L224.346 107.143ZM202.074 94.1828V79.4948H201.498L193.626 94.1828H202.074Z" fill="white"/>
                <path class="ani-bounce-2" d="M148.887 112.483H142.167V124.099H126.135V112.483H104.343L102.711 101.059L122.391 64.4826H142.167V99.5226H149.559L148.887 112.483ZM126.615 99.5226V84.8346H126.039L118.167 99.5226H126.615Z" fill="white"/>
                <path class="ani-rotate-1" d="M208.005 172.24L207.727 170.843C206.512 164.756 205.619 161.253 205.048 160.334C204.527 159.34 204.006 158.508 203.484 157.837C202.553 156.731 201.218 156.351 199.479 156.698C197.74 157.045 196.684 157.902 196.311 159.268C195.888 161.032 195.812 162.758 196.085 164.447C196.58 167.578 197.076 170.385 197.572 172.869L197.851 174.267C199.201 181.037 200.144 184.95 200.677 186.006C201.261 186.987 201.813 187.813 202.334 188.484C203.228 189.727 204.7 190.143 206.75 189.734C208.799 189.325 209.843 187.922 209.881 185.525C209.907 183.066 209.282 178.638 208.005 172.24ZM219.415 156.111C220.655 159.415 221.79 163.645 222.819 168.8C223.847 173.955 224.423 178.296 224.546 181.824C224.73 185.339 224.381 188.606 223.498 191.623C221.744 197.398 216.799 201.097 208.663 202.721C200.651 204.32 194.727 202.79 190.891 198.13C188.917 195.682 187.31 192.806 186.069 189.502C184.816 186.135 183.681 181.906 182.665 176.813C180.583 166.378 180.437 158.528 182.228 153.263C184.081 147.985 188.921 144.565 196.746 143.003C204.945 141.367 210.925 142.854 214.686 147.464C216.66 149.912 218.236 152.794 219.415 156.111Z" fill="white"/>
                <rect class="ani-rotate-2" x="93.2908" y="156.126" width="163.662" height="15" transform="rotate(-11.2851 93.2908 156.126)" fill="white"/>
                <path d="M66.0109 210.012H52.5021C47.1805 210.012 43.3734 207.929 41.081 203.765C38.7886 199.6 37.6424 192.729 37.6424 183.151V149.001C37.6424 145.253 37.274 143.032 36.5372 142.338C35.8003 141.505 33.9582 141.089 31.0109 141.089V114.436C33.9582 114.436 35.8003 114.089 36.5372 113.395C37.274 112.701 37.6424 110.48 37.6424 106.732V76.5387C37.6424 65.9886 38.7477 58.6313 40.9582 54.4667C43.1688 50.1634 47.0167 48.0117 52.5021 48.0117H66.0109V75.7058H57.66V109.022C57.66 114.575 57.2097 118.6 56.3091 121.099C55.4085 123.459 53.8939 125.541 51.7653 127.346V128.803C53.8939 130.33 55.4085 132.413 56.3091 135.05C57.2097 137.549 57.66 141.436 57.66 146.711V183.567H66.0109V210.012Z" fill="white"/>
                <path d="M283.986 46H297.495C302.817 46 306.624 48.0823 308.916 52.2468C311.208 56.4113 312.355 63.2828 312.355 72.8612V107.01C312.355 110.758 312.723 112.979 313.46 113.674C314.197 114.506 316.039 114.923 318.986 114.923V141.576C316.039 141.576 314.197 141.923 313.46 142.617C312.723 143.311 312.355 145.532 312.355 149.28V179.473C312.355 190.023 311.249 197.38 309.039 201.545C306.828 205.848 302.98 208 297.495 208H283.986V180.306H292.337V146.99C292.337 141.437 292.787 137.411 293.688 134.913C294.589 132.553 296.103 130.47 298.232 128.666V127.208C296.103 125.681 294.589 123.599 293.688 120.961C292.787 118.463 292.337 114.576 292.337 109.301V72.4447H283.986V46Z" fill="white"/>
            </svg>

            <div class="self-center mt-16">
                <a class="max-w-fit px-6 text-center font-bold uppercase text-white transition bg-coral-red-500 py-3.5 hover:bg-coral-red-700" href="{{ path('app_home') }}">Retour accueil</a>
            </div>
        </div>
    </main>
{% endblock %}